<div class="container">
  <div class="row">
    <div class="col-12 text-center titre">
      <h1>Enigmaths</h1>
    </div>
  </div>
</div>
<div class="container img-background" style="margin-top: 50px">
  <div class="row">
    <div class="col-2">
      <app-rotor srcFond="rotorBeige.png" srcAvant="fleche1.png"></app-rotor>
    </div>
    <div class="col-2">
      <app-rotor srcFond="rotorBeige.png" srcAvant="fleche2.png"></app-rotor>
    </div>
    <div class="col-2">
      <app-rotor srcFond="rotorBeige.png" srcAvant="fleche10.png"></app-rotor>
    </div>
    <div class="col-2">
      <app-rotor srcFond="rotorBeige.png" srcAvant="fleche4.png"></app-rotor>
    </div>
    <div class="col-2">
      <app-rotor srcFond="rotorBeige.png" srcAvant="fleche11.png"></app-rotor>
    </div>
    <div class="col-2">
      <app-rotor srcFond="rotorBeige.png" srcAvant="fleche9.png"></app-rotor>
    </div>
  </div>
  <div class="row">
    <div class="col-2">
      <app-rotor srcFond="rotorRouge.png" srcAvant="fleche1.png"></app-rotor>
    </div>
    <div class="col-2">
      <app-rotor srcFond="rotorRouge.png" srcAvant="fleche2.png"></app-rotor>
    </div>
    <div class="col-2">
      <app-rotor srcFond="rotorRouge.png" srcAvant="fleche10.png"></app-rotor>
    </div>
    <div class="col-2">
      <app-rotor srcFond="rotorRouge.png" srcAvant="fleche4.png"></app-rotor>
    </div>
    <div class="col-2">
      <app-rotor srcFond="rotorRouge.png" srcAvant="fleche11.png"></app-rotor>
    </div>
    <div class="col-2">
      <app-rotor srcFond="rotorRouge.png" srcAvant="fleche9.png"></app-rotor>
    </div>
  </div>
  <div class="row">
    <div class="col-2">
      <app-rotor srcFond="rotorJaune.png" srcAvant="fleche1.png"></app-rotor>
    </div>
    <div class="col-2">
      <app-rotor srcFond="rotorJaune.png" srcAvant="fleche2.png"></app-rotor>
    </div>
    <div class="col-2">
      <app-rotor srcFond="rotorJaune.png" srcAvant="fleche10.png"></app-rotor>
    </div>
    <div class="col-2">
      <app-rotor srcFond="rotorJaune.png" srcAvant="fleche4.png"></app-rotor>
    </div>
    <div class="col-2">
      <app-rotor srcFond="rotorJaune.png" srcAvant="fleche11.png"></app-rotor>
    </div>
    <div class="col-2">
      <app-rotor srcFond="rotorJaune.png" srcAvant="fleche9.png"></app-rotor>
    </div>
  </div>
  <div class="row">
    <div class="col-2">
      <app-rotor srcFond="rotorBleu.png" srcAvant="fleche1.png"></app-rotor>
    </div>
    <div class="col-2">
      <app-rotor srcFond="rotorBleu.png" srcAvant="fleche2.png"></app-rotor>
    </div>
    <div class="col-2">
      <app-rotor srcFond="rotorBleu.png" srcAvant="fleche10.png"></app-rotor>
    </div>
    <div class="col-2">
      <app-rotor srcFond="rotorBleu.png" srcAvant="fleche4.png"></app-rotor>
    </div>
    <div class="col-2">
      <app-rotor srcFond="rotorBleu.png" srcAvant="fleche11.png"></app-rotor>
    </div>
    <div class="col-2">
      <app-rotor srcFond="rotorBleu.png" srcAvant="fleche9.png"></app-rotor>
    </div>
  </div>
</div>

