@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~bootstrap-icons/font/bootstrap-icons.css";

body{
  background-image: url("assets/background.png");
  background-repeat: no-repeat;
  background-size: cover;
}
